@media screen and (max-width: 650px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
  }

  .header_title,
  .nav-list {
    padding: 10px;
  }

  .hero_title,
  .hero_tagline {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 759px) {
  .nav-list {
    z-index: 10;
    background-color: black;
    color: rgb(254, 251, 246);
    padding: 0;
    width: 200px;
    position: absolute;
    top: 169px;
    left: 0;

    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
  }

  .open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    transition: transform 0.3s ease;
  }

  .nav-list ul {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .nav-list ul li a {
    color: rgb(254, 251, 246);
  }

  .nav_item {
    display: list-item;
    border-bottom: 1px solid rgb(254, 251, 246) e;
    width: 100%;
    text-align: left;
    padding: 10px;
  }
}

@media screen and (max-width: 350px) {
  .posts {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 759px) {
  .header__menu {
    display: block; /* Menampilkan hamburger menu */
  }
}

/* Media query untuk layar dengan lebar minimal 760px */
@media screen and (min-width: 760px) {
  .header__menu {
    display: none; /* Menyembunyikan hamburger menu */
  }
}

@media screen and (min-width: 900px) {
  .posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
} 

@media screen and (min-width: 1200px) {
  main {
    max-width: 1200px;
  }

  .hero {
    min-width: 1000px;
  }
}

@media screen and (max-width: 480px) {
  .jumbotron {
    height: 200px;
  }

  .slide h1 {
    font-size: 20px;
    text-align: center;
  }

  .slide p {
    font-size: 12px;
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  .grid-card {
    width: 70%;
  }

  .grid-card img {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .grid-card {
    width: 90%;
    padding: 15px;
  }

  .grid-card img {
    width: 70%;
  }
}
@media (max-width: 760px) {
  h1 {
    font-size: 24px; 
     text-align: center; 
  }
  
   p {
    font-size: 16px; 
     text-align: center; 
  }
}

@media screen and (max-width: 576px) {
  .reviews_title {
    font-size: 24px;
  }

  .reviews {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-column-gap: 8px;
  }
}

/* Tampilan responsif untuk layar dengan lebar maksimum 360px */
@media screen and (max-width: 360px) {
  .reviews_title {
    font-size: 20px;
  }

  .reviews {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-column-gap: 6px;
  }
}

@media (min-width: 1200px) {
  .hero {
    min-width: 1000px;
  }
}

@media (max-width: 452px) {
  .hero {
    min-width: unset;
  }
}
@media screen and (max-width: 600px) {
  .restaurant-item {
    max-width: 90%; /* Lebar maksimum menjadi 90% dari lebar layar saat layar kecil */
  }
}
@media (max-width: 768px) {
  .input-style {
    font-size: 14px; /* Ukuran font yang lebih kecil untuk perangkat berukuran kecil */
  }
}

/* Media query untuk perangkat dengan lebar maksimum 480px */
@media (max-width: 480px) {
  .input-style {
    font-size: 12px; /* Ukuran font yang lebih kecil lagi untuk perangkat berukuran sangat kecil */
  }
}
